#sdiv{
    position: relative;
}
/*헤더 div*/
.top{ 
    position: fixed;
    width: 1151px;
    height: 62px;
    background-color: #EEEEEE;
    margin: 0 auto;
    display: flex;
    align-items: center;
    z-index: 1;
}

/*카테고리버튼*/
.categoryBtn{
    width: 37px;
    height: 43px;
    border: none;
    margin-left: 25px;
  
}

/*피씨그린로고*/
.logo{
    width: 72px;
    height: 45px;
    border: none;
    margin-left: 25px;
}

/*검색창*/
#searchBar{
    width: 553px;
    margin-left: 130px;
    height: 35px;
}
#searchBar form{
    height: 100%;
    position: relative;
}
#searchBar input{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
}
#searchBar button{
    
    border: none;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 12px;
    top: 7px;
}

/*로그인*/
#login{
    margin-left: 110px;
}
#login form{
    height: 100%;
}
#login > a{
    color: black;
    font-size: 14px;
    font-style: none;
}

/*로그인 후*/
#loginAfter{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    
}
#myPageDiv{   
    margin-top: 15px;
    height: 100%;
    padding-left: 20px;
}
#myPageTag{
    font-size: 15px;
    color: #70C9A0;
}


/* 카테고리 css */
#side-bar{
position: absolute;
width: 200px;
height: 1080px;
background-color: #70C9A0;      
z-index: 2;
display: none;
top: 61px;
}   
#side-bar >ul, #side-bar > li {
    margin: 0;
    padding: 0;
    list-style: none;
    /* 해당 태그의 list-style을 none으로 하는 것으로 ●을 제거한다 */
}

#side-bar > a {
    color: inherit;
    /* 부모 엘리먼트의 값을 물려받는다 */
    text-decoration: none ;
    /* 해당 태그의 text-decoration 속성을 none 값으로 하는 것으로 밑줄을 제거한다 */
}

/* 노멀라이즈 끝 */

/* 2차 이상의 메뉴를 숨기기 */
#side-bar>ul ul {
    display: none;
}

/* 사이트의 높이를 1080px로 만들어 스크롤 생성 */


/* 대분류의 a에 속성값 부여 */
#side-bar ul>li>a {
    display: block;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 6px;
    
    text-decoration: none  !important;
}

/* 소분류의 a에 속성값 부여 */
#side-bar ul>li>ul>li>a {
    display: block;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}



/* 자식의 position이 absolute일 때 자식을 영역 안에 가두어 준다 */
#side-bar>ul>li {
    position: relative;
}

/* 모든 메뉴가 마우스 인식 시 반응 */
#side-bar ul>li:hover>a {
    background-color: #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    color: black;
}


/* 1차 메뉴의 항목이 마우스 인식 시에 2차 메뉴 등장 */
#side-bar>ul>li:hover>ul {
    height: 1080px;
    border: 1px solid #70C9A0;
    display: block;
    position: fixed;
    background-color: #ffffff;
    color: black;
    top: 0;
    /* 2차 메뉴의 상단을 1차 메뉴의 상단에 고정 */
       left:100%;
   
    /* 2차 메뉴를 1차 메뉴의 너비만큼 이동 */
    width: 100%;
    /* 1차 메뉴의 너비를 상속 */
}

/* 사이드바 너비의 80%만큼 왼쪽으로 이동 */
#side-bar {
    transform: translate(calc(var(--side-bar-width) * -0.8), 0);
    /* X축 이동, Y축 고정 */
    transition: .5s;
}

/* 마우스 인식 시 원래의 위치로 이동 */
#side-bar:hover {
    transform: translate(0px, 0);
    /* 둥근 모서리의 너비만큼 X축 이동, Y축 고정 */
}

/* 소분류 사이드바 메뉴바 글씨 */
#side-bar-min-head {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
}

i.fa-solid:hover {
color: darkcyan;
}

i.fa-bars {
cursor: pointer;
}

i.fa-xmark {
float: right;
margin: 5px 10px 0 0;
cursor: pointer;
}



/* 마이페이지 A태그 호버 */
#mdiv{
    position: absolute;
    width: 100px;
    height: 200px;
    margin-top: 5px;
    top: 61px;
    z-index: 2;
    display: none;
}

.myPageUl{
    
    list-style:none;
    padding-left:10px;
    margin-top: 25px;
}

.myPageUl li{
    line-height: 180%;
    position: relative;
}

.myPageUl li > a{
    font-size: 14px;  
    color: black;
    text-decoration: none;
}

.myPageUl li a::after {
    content: '';
    display: block;
    z-index: -1;
    width: 0;
    height: 3px;
    background: #5d8cef;
    position: absolute;
    
}

.two a:hover::after {
    width: 55%;
    left: 0;
    transition: all .3s;
}

.three a:hover::after {
    width: 67%;
    left: 0;
    transition: all .3s;
}

.four a:hover::after {
    width: 82%;
    left: 0;
    transition: all .3s;
}

