@charset "UTF-8";
body{
        display: flex;
        justify-content: center;
        height: 1280px;
        position: relative;
    }
    /*메인 홈페이지*/
    .main{
        padding-top: 100px;
        height: 1080px;
        position: relative;
    }

    /*배너*/
    #banner{
        width: 1151px;
        height: 148px;
      
       display: flex;
       margin: auto;
    }
    #banner img{
        width: 1151px;
        height: 148px;
        object-fit: none; 
    }

    /*게시글 담는 페이지*/
    #contents{
        width: 1151px;
        height: 720px;
        padding-top: 40px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: 230px;
        column-gap: 37px;
        margin: auto;
        
    }
    /*게시글*/
    .contents-preview{
        width: 160px;
        height: 185px;
    }
    /*썸네일*/
    .thumnail img{
        width: 160px;
        height: 137px;
    }
    /*썸네일 설명*/
    .thumnail-info{
        border: #D9D9D9 solid 1px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
    }
    .name-heart{
        height: 20px;
        display: flex;
        margin-top: 5px;
        justify-content: space-between
    }
    .name-heart p{
        margin: 0;
        font-size: 13px;
    }
    .name{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .heart{
        margin-right: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .heart img{
        width: 15px;
        height: 15px;
    }
    .heart p{
        margin: 0;
        font-size: 13px;
        color: #70C9A0;
    }
    .price-beforeDay{
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between
        
    }
    .price p{
        font-size: 17px;
        margin: 0;
    }
    .beforeDay p{
        font-size: 13px;
        margin: 0;
        color: #767676;
    }

    /* 페이징 버튼 */
    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 42px;
      }
      
      .pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
        border: 1px solid #ddd;
        margin: 0 4px;
      }
      
      .pagination a.active {
        background-color: #70c9a0;
        color: white;
        border: 1px solid #70c9a0;
      }
      
      .pagination a:hover:not(.active) {background-color: #ddd;}






    