/* body {
    display: flex;
    justify-content: center;
    height: 1200px;
    position: relative;
}

.main {
    width: 1151px;
    height: auto;
}

.FAQ-title {
    margin-top: 140px;
    margin-bottom: 65px;
    width: 100%;
    height: 48px;
    cursor: pointer;
}

.FAQ-area {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 831px;
    height: 70px;
    margin: 0 auto;
    cursor: pointer;
}

.FAQ{
    width: 798px;
    height: 200px;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    position: relative;
}

.FAQ-in {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

#FAQ1 p {
    margin-right: auto;
}

.hidden {
    display: none;
    height: auto;
    background: #D6EFE3;
    border-radius: 5px;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
} */

body {
    display: flex;
    justify-content: center;
    height: auto;
    position: relative;
    overflow-y: auto;     
}

.main {
    width: 1151px;
    height: 1080px;
    min-height: 100%;
    position: relative;
}

.FAQ-title {
    margin-top: 140px; /* 마진 조정 */
    margin-bottom: 20px; /* 마진 조정 */
    width: 100%;
    height: 48px;
    cursor: pointer;
}

.FAQ-area {
    margin-bottom: 20px; /* 마진 조정 */
    width: 831px;
    position: relative;
    /* height: 70px; */
}

.FAQ {
    word-break:break-all;
    width: 100%;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
}

.FAQ-in {
    word-break:break-all;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.hide {
    display: none;
    background: #D6EFE3;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}