 *{
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.contentBox{
    width: 1151px;
    background-color: white;
    margin: auto;
    overflow-x: auto;
    overflow-y: auto;
    padding: 0px;
}
.contentBox_top{
	padding-top: 100px;
    width: 800px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.input_table{
    width: 865px;
    margin: auto;
}
/*
#photo_count{
    padding: 0px;
    margin: 0px;
    font-size: 15px;
    color: darkgray;
}
*/
#title{
    width: 580px;
    height: 30px;
    border: 1px solid darkgray;
}
.letter_count{
    margin-left: 20px;
    color: darkgray;
}
.category_box{
    display: flex;
    align-items: center;
    font-size: 15px;
}
.category_box > div{
	border: 1px solid darkgray;
    width: 200px;
    height: 130px;
    overflow-x: auto;
    overflow-y: auto;
}
.category_box p:hover{
	cursor: default;
	background-color: lightgray;
}
#category_top_box > p{
    margin: 10px 5px;
}
#category_middle_noselected{
    display: flex;
    align-items: center;
    justify-content: center;
}
li{
    list-style: none;
}
li > button{
    border: none;
    background-color: white;
    margin: 5px 0px;
}
li > button:hover{
	cursor: default;
	background-color: lightgray;
}
#product_info{
    border: 1px solid darkgray;
    resize: none;
}
.column1{
    width: 100px;
    padding: 0px 30px;
}
.column2{
    width: 82%;
}
/* .column2 > button{
    background-color: white;
    border: 1px solid darkgray;
    width: 94px;
    height: 30px;
    font-size: 12px;
} */
#detail_address{
    border: 1px solid darkgray;
    background-color:rgb(238, 238, 238);
    width: 575px;
    height: 30px;
    margin-top: 5px;
}
#price{
    border: 1px solid gray;
    width: 200px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 9px;
    padding: 0px;
}
#price > input{
    border-right: none;
}
.price_check_opt{
    font-size: 15px;
}
.price_check_opt > button{
    margin-left: 10px;
}
.status_explane{
    color: darkgray;
    font-size: 14px;
    font-weight: 100;
    margin-left: 15px;
}
.btn{
    margin-left: 700px;
    margin-bottom: 50px;
    width: 300px;
    display: flex;
}
.btn > button{
    border: none;
    color: white;
    font-size: 20px;
    width: 128px;
    height: 48px;
}
#delete_btn{
    background-color: salmon;
}
#submit_btn{
    background-color: mediumaquamarine;
}
#product-img:hover{
   cursor: pointer;
   scale: 0.98;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}