<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectProductList">
		SELECT GOODS_ID,
				SELLER_NO,
				CATEGORY_M,
				TITLE,
				STATUS,
				SELL_PRICE,
				VIEW_COUNT,
				P_EXPLANE,
				ENROLL_DATE,
				LOVEIT,
				RETURN_PD,
				LOCATION_T,
				PRODUCT_STATUS
		FROM PRODUCT P
		JOIN USER_NO ON (SELLER_NO = USER_NO)
		WHERE STATUS = '판매중'
		ORDER BY GOODS_ID DESC
	</entry>
	<entry key="insertProduct">
		INSERT INTO PRODUCT
		(
			GOODS_ID,
			SELLER_NO,
			CATEGORY_M,
			TITLE,
			SELL_PRICE,
			VIEW_COUNT,
			P_EXPLANE,
			ENROLL_DATE,
			LOCATION_T,
			PRODUCT_STATUS
		)
		VALUES
		(
			SEQ_GOODSID.NEXTVAL,
			?,
			?,
			?,
			?,
			?,
			?,
			?,
			?,
			?
		)
	</entry>
</properties>