<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="faqMapper">
	<resultMap id="faqResultSet" type="Faq">
		<result column="FAQ_ID" property="faqId"/>
		<result column="USER_NO" property="userNo"/>
		<result column="FAQ_TITLE" property="faqTitle"/>
		<result column="ANSWER" property="answer"/>
		<result column="FAQ_CONTENTS" property="faqContents"/>
		<result column="FAQ_DATE" property="faqDate"/>
	</resultMap>
	
	<!-- 문의내역리스트 조회
	<select id="selectFaqList" resultType="_int">
		SELECT COUNT(*)
		  FROM FAQ
		  JOIN MEMBER USING (USER_NO)
		 WHERE USER_ID = #{userId}
	</select> -->
	<!-- 문의내역리스트 조회 -->
    <select id="selectFaqList" resultMap="faqResultSet">
         SELECT FAQ_ID,
                USER_NO,
                FAQ_TITLE,
                ANSWER,
                FAQ_CONTENTS,
                FAQ_DATE
           FROM FAQ
           JOIN MEMBER USING (USER_NO)
          WHERE USER_ID = #{userId}
    </select>
    
    <!-- 첨부파일 삽입 -->
    <insert id="insertAttachment">
        INSERT INTO ATTACHMENT(
            ORIGIN_NAME,
            CHANGE_NAME,
            FILE_PATH
        ) VALUES (
            #{originName},
            #{changeName},
            #{filePath}
        )
    </insert>
    
    <!-- 1:1 문의 삽입 -->
	<insert id="insertFaq">
	    INSERT INTO FAQ(
	        USER_NO,
	        FAQ_TITLE,
	        FAQ_CONTENTS
	    ) VALUES (
	        #{userNo},
	        #{faqTitle},
	        #{faqContents}
	    )
	</insert>
</mapper>