<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="memberMapper">
	<resultMap id="faqResultSet" type="Member">
		<result column="USER_NO" property="userNo"/>
		<result column="USER_ID" property="userId"/>
		<result column="USER_PWD" property="userPwd"/>
		<result column="AUTHORITY" property="authority"/>
		<result column="PHONE" property="phone"/>
		<result column="ACTIVATED" property="activated"/>
		<result column="SCORE" property="score"/>
		<result column="JOIN_DATE" property="joinDate"/>
		<result column="GENDER" property="gender"/>
		<result column="EMAIL" property="email"/>
		<result column="LOCATION" property="location"/>
	</resultMap>
	
</mapper>