<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="priceOffersMapper">
	<resultMap id="faqResultSet" type="PriceOffers">
		<result column="PRICE_OFFER_ID" property="priceOfferId"/>
		<result column="OFFER_USER_NO" property="offerUserNo"/>
		<result column="GOODS_ID" property="goodsId"/>
		<result column="OFFERED_PRICE" property="offeredPrice"/>
		<result column="ACCEPT_OR_NOT" property="acceptOrNot"/>
		<result column="OFFER_DATE" property="offerDate"/>
	</resultMap>
	
</mapper>