<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="productMapper">
	<resultMap id="productResultSet" type="Product">
		<result column="GOODS_ID" property="goodsId"/>
		<result column="SELLER_NO" property="sellerNo"/>
		<result column="CATEGORY_M" property="categoryM"/>
		<result column="TITLE" property="title"/>
		<result column="STATUS" property="status"/>
		<result column="SELL_PRICE" property="sellPrice"/>
		<result column="VIEW_COUNT" property="viewCount"/>
		<result column="P_EXPLAIN" property="pExplain"/>
		<result column="ENROLL_DATE" property="enrollDate"/>
		<result column="RETURN_PD" property="returnPd"/>
		<result column="LOCATION_T" property="locationT"/>
		<result column="PRODUCT_STATUS" property="productStatus"/>
	</resultMap>
	
	<insert id="insertProduct" parameterType="Product">
		INSERT INTO PRODUCT
		(
			GOODS_ID,
			SELLER_NO,
			CATEGORY_M,
			TITLE,
			STATUS,
			SELL_PRICE,
			VIEW_COUNT,
			P_EXPLANE,
			ENROLL_DATE,
			RETURN_PD,
			LOCATION_T,
			PRODUCT_STATUS
		)
		VALUES
		(
			SEQ_GOODSID.NEXTVAL,
			?,
			?,
			?,
			DEFAULT,
			?,
			DEFAULT,
			?,
			DEFAULT,
			DEFAULT,
			?,
			?
		)
	</insert>
	
	<select id="selectProductList" parameterType="Product" resultMap="productResultSet">
		SELECT GOODS_ID,
				SELLER_NO,
				CATEGORY_M,
				TITLE,
				STATUS,
				SELL_PRICE,
				VIEW_COUNT,
				P_EXPLANE,
				ENROLL_DATE,
				RETURN_PD,
				LOCATION_T,
				PRODUCT_STATUS
		FROM PRODUCT P
		JOIN MEMBER ON (SELLER_NO = USER_NO)
		WHERE STATUS = '판매중'
		ORDER BY GOODS_ID DESC
	</select>
	
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
	 	FROM PRODUCT
		WHERE STATUS = '판매중'
	</select>
	
</mapper>